---
layout: default
---
<link rel="stylesheet" type="text/css" href="/css/post.css">

<div id="main-wrapper">
    <div id="main" class="container">
    	<div class="row">
        	<div class="12u important(collapse)">
        		<div class="content content-left">
				    <article class="box page-content">
					    <header>
					        <h2>{{ page.title }}</h2>
					    </header>
					</article>
				</div>
			</div>
		</div>

	    <article class="post-content">
	        {{ content }}
	    </article>
	</div>
</div>
