#banner *, #footer * {
  text-align: center;
  background-repeat: no-repeat;
}

#banner a:hover, #footer a:hover {
  background-repeat: no-repeat, no-repeat, repeat-x;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation span {
  padding: 0rem 1rem 0rem 1rem;
}

#footer {
  padding: 1rem;
}

#footer .social-icon {
  width: 16px;
  height: 16px;
  padding: 0rem 0.25rem 0rem 0.25rem;
}
